body {
    background-color: #D5E1EF;
    
    
    ;
}
.card{
    height: 520px;
    width: 320px;
    position: absolute;
    margin: auto;
    inset: 0;
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    
   
}

img{
    width: 100%;
}